/* Constante SASS */
$yellow: #ffd800;

/* Variabile SASS */
$shadow: 0 5px 15px 0 #00000063;
$grid-large-spacing: 5vw;
$grid-spacing: 3px;
$highlight-color: $yellow;
$border-color: #e4e4e4;
$menu-height: 50px;
$zindex-menu: 1000 !default;
$zindex-sidebar: 100 !default;
$zindex-toaster: 10000 !default;
